.vscode
build
*.o
ch2/simple-shell/shell
ch2/echo/echo
ch3/3-2/gdb-example/gdb_example
ch3/3-3/perf-example/sort
ch3/3-3/perf-example/unsort
ch5/5-1/add-example/add1
ch5/5-1/add-example/add2
ch5/5-1/add-example/add3
ch5/5-1/add-example/add_test1
ch5/5-1/add-example/add_test2